<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
   <listeners>
       <listener class-name="Listeners" />
       
   </listeners>
   
    <test verbose="2" preserve-order="true" name="End to end Framework Test">
        <classes>
            <class name="searchFunctionalityTests"/>
            <class name="LoginTests"/>
            <class name="ProductComparisonTests"/>

        </classes>



    </test>
</suite>